<!-- views/dashboard.hbs -->

<div id="reportContainer" class="report-container"></div>
<script>
   // Parse the JSON string from the server-side into a JavaScript object
    const projectAccessDetails = JSON.parse({{safe accessCode}});
    
    // Function to return project access details
    function getProjectAccessDetails() {
        return Array.isArray(projectAccessDetails) ? projectAccessDetails : [];
    }


    window.getProjectAccessDetails = getProjectAccessDetails;
</script>
