/* public/styles.css */



/* Global styles */
body {
    font-family: 'Segoe UI','Arial';/*,'Roboto', Arial, sans-serif;*/
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    background-color: #EFF6F0; /* Light gray background */
    color: #333;
}

/* Header (Topbar) styles */
.header {
    width: 100%;
    height: 50px;
    background-color: #074223; /* Primary dark green color #3A5347*/
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: white;
    justify-content: space-between;
    box-sizing: border-box;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__logo img {
    height: 40px;
    margin-right: 10px;
}


.header__toggle-menu {
    font-size: 28px;
    cursor: pointer;
    display: none; /* Initially hidden, visible only on small screens */
}
/* Style the sign-out button to match the design */
/* .header__logout-button {
    background-color: #495851; 
    color: #e9e9e9; 
    border: 1px solid #ced4da; 
    border-radius: 15px; 
    padding: 5px 15px; 
    font-family: 'Calibri', sans-serif; 
    font-size: 16px; 
    cursor: pointer; 
    transition: all 0.3s; 
    
} 

.header__logout-button:hover {
    background-color: #3A5347; 
    color: white;
    border-color: #3A5347; 
}

.header__logout-button:focus {
    outline: none; 
    box-shadow: 0 0 5px rgba(58, 83, 71, 0.5); 
}
    */
.header__logout-button {
    background-color: #074223; 
    color: #e9e9e9; 
    
    margin: 5px;
    padding: 5px 15px; 
    font-family: 'Segoe UI','Arial'; 
    font-size: 16px; 
    cursor: pointer; 
    border-radius: 15px; 
    transition: all 0.3s; 
    border: 1px solid #074223; 
    
}

.header__logout-button:hover {
    
    background-color: #64776e; 
    color: white;
    border-color: #3A5347; 
    border: 1px solid #64776e; 
    
}

.header__logout-button:focus {
    outline: none; 
    box-shadow: 0 0 5px rgba(58, 83, 71, 0.5); 
}

/* Layout styles */
.layout {
    display: flex;
    height: calc(100% - 50px);
    overflow: hidden;
}



/* Sidebar styles */
.sidebar {
    width: 200px;
    background-color: #e6eee5;
    padding: 15px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, visibility 0.3s ease;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Sidebar report menu  */
.sidebar__reportmenu {
    /* font-family: Calibri; */
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar__reportmenu-item {
    margin-bottom: 5px;
}

.sidebar__reportmenu-item a {
    text-decoration: none;
    color: #074223;
    display: block;
    padding: 8px 12px;
    border-radius: 15px;
    transition: all 0.3s;
    display: flex;
    align-items: center;
}

.sidebar__reportmenu-item a i {
    margin-right: 10px;
    width: 20px;
}

.sidebar__reportmenu-item a:hover {
    background-color: #074223;
    color: white;
}

::placeholder {
    color: #333 !important;
    opacity: 1; /* Firefox */
  }


/* Sidebar project filter */
.sidebar__projectfilter {

    margin-top: 10px;
    margin-bottom: 10px;
}

.sidebar__projectfilter-label{
    margin-left: 15px;
    margin-top: 0;
    margin-bottom: 3px;
    display: block;
    /* font-size: 20px; */
    color: #074223;
}

.sidebar__projectfilter-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-sizing: border-box;
    /* margin-top: 10px; */
}

.sidebar__projectfilter-select{
    margin-bottom: 10px;
    padding: 10px 10px;
    border-radius: 5px;
    border: none;
    background-color: #e6eee5;
    color: #074223;
    /* font-size: 200px; */
    width: 100%;
    box-sizing: border-box;
    transition: all 0.3s;
}

.sidebar__projectfilter-select:hover{
    background-color: #074223;
    color: white;
}

.sidebar__projectfilter-select:focus{
    outline: none;
    background-color: #074223;
    color: white;
}





/* Sidebar contact us link*/
.sidebar__contact {
    text-align: center;
    margin-top: auto;
}

.sidebar__contact-link {
    text-decoration: none;
    color: #074223;
    display: block;
    padding: 8px 15px;
    border-radius: 15px;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    /* background-color: #e5ecef; */
    box-shadow: none;
}

.sidebar__contact-link:hover {
    background-color: #074223;
    color: white;
}

.sidebar__contact-link i {
    margin-right: 8px;
}












/* Main content styles */
.main-content {
    flex-grow: 1;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.report-container {
    width: 100%;
    height: 100%;
    background-color: white;
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.displayAreaViewport{
    background-color:#EFF6F0 !important ;
}
/* Media Queries for responsive design */
@media (max-width: 768px) {
    .header__toggle-menu {
        display: block; /* Show hamburger button on small screens */
    }

    .sidebar {
        position: fixed;
        top: 50px;
        left: 0;
        height: calc(100% - 50px);
        transform: translateX(-100%);
        visibility: hidden;
        z-index: 1000;
    }

    .sidebar.active {
        transform: translateX(0);
        visibility: visible;
    }
}

@media (min-width: 769px) {
    .header__toggle-menu {
        display: none; /* Hide hamburger button on larger screens */
    }
}




/* public/styles.css */
/* public/styles.css */
/* public/styles.css */
/* public/styles.css */
/* public/styles.css */
/* public/styles.css */
/* public/styles.css */
/* public/styles.css */
/* public/styles.css */
/* public/styles.css */
/* public/styles.css */
/* public/styles.css */
/* public/styles.css */
/* public/styles.css */
/* public/styles.css */
/* public/styles.css */
/* public/styles.css */
/* public/styles.css */
/* public/styles.css */
/* public/styles.css */
/* public/styles.css */
/* public/styles.css */

body {
    background-color: #EFF6F0; /* Set a light gray background color f8f9fa*/ 
}



.date-range-picker {
    background: #fff;
    color: #074223;
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.date-range-picker i {
    margin-right: 5px;
}

.daterangepicker {
    z-index: 1000; /* Ensure the calendar appears above other elements */
}

@media (max-height: 400px) {
    .filter-container {
        display: none; /* Hide the filter container on small screens */
    }
    .toggle-button {
        display: block; /* Show the toggle button on small screens */
    }
}
















/* Ensure Flatpickr uses the same font-family, color, and text size */
.flatpickr-calendar {
    font-family: 'Segoe UI','Arial';
    color: #333; /* Match the color used in the body */
    font-size: 16px; /* Adjust the font size as needed */
}

.flatpickr-input {
    font-family: 'Segoe UI','Arial';
    color: #333; /* Match the color used in the body */
    font-size: 16px; /* Adjust the font size as needed */
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{
    background-color: #074223 !important;
}
.flatpickr-monthSelect-month.selected, .flatpickr-monthSelect-month.startRange, .flatpickr-monthSelect-month.endRange{
    background-color: #074223 !important;
    border-color: #074223 !important;
}

/* Ensure Select2 elements use the same font-family, color, and text size */
.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple {
    font-family: 'Segoe UI','Arial';
    color: #333; /* Match the color used in the body */
    font-size: 16px; /* Adjust the font size as needed */
    background-color: #fff; /* White background */
    border: 1px solid #ced4da !important; /* Light gray border */
    border-radius: 4px; /* Rounded corners */
    padding: 5px 0px 10px 5px !important; 
    box-sizing: border-box; /* Ensure padding is included in the element's total width and height */
}

.select2-container .select2-search--inline .select2-search__field {
    font-family: 'Segoe UI','Arial' !important;
    color: #333 !important;
}


/* Ensure Select2 dropdown uses the same font-family, color, and text size */
.select2-container--default .select2-results__option {
    
    font-family: 'Segoe UI','Arial';
    color: #333; /* Match the color used in the body */
    font-size: 15px; /* Adjust the font size as needed */
}



/* Juster linjehøyden og padding for Select2-dropdown */
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    line-height: 1; /* Juster linjehøyden etter behov */
    padding: 8px 10px; /* Juster padding etter behov */
    overflow: visible; /* Sørg for at teksten ikke blir kuttet */
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    line-height: 1; /* Juster linjehøyden etter behov */
    padding: 5px 10px; /* Juster padding etter behov */
    margin: 2px 5px; /* Juster margin etter behov */
    overflow: visible; /* Sørg for at teksten ikke blir kuttet */
}


/* Juster linjehøyden og padding for Select2 søkefelt */
.select2-container--default .select2-search--inline .select2-search__field {
    line-height: 1; /* Juster linjehøyden etter behov */
    padding: 5px 10px; /* Juster padding etter behov */
    font-family: 'Segoe UI', 'Arial'; /* Match fonten brukt i body */
    color: #333; /* Match fargen brukt i body */
    font-size: 16px; /* Juster tekststørrelsen etter behov */
    overflow: visible; /* Sørg for at teksten ikke blir kuttet */
}

/* Juster høyden på Select2 elementet */
.select2-container--default .select2-selection--multiple {
    min-height: 38px; /* Juster høyden etter behov */
    overflow: visible; /* Sørg for at teksten ikke blir kuttet */
}











/* CSS login page */
.login-body {
    font-family: 'Segoe UI','Arial', Tahoma, Geneva, Verdana, sans-serif;
    background-color:#EFF6F0; 
    /* #f0f2f5; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #EFF6F0; /* Light gray background */
}

.login-box {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    width: 800px;
    max-width: 90%;
    overflow: hidden;
    flex-direction: row; /* Default to row layout */
}

.login-left,
.login-right {
    padding: 40px;
}

.login-left {
    padding-top: 80px;
    background-color: #f7f7f7;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-right {
    flex: 1;
    background-color: #ffffff;
    text-align: center;
}
.login-right h3 {
    font-size: 24px;
    margin-bottom: 30px;
    color: #3A5347; /* Dark green color */
}

.logo {
    margin-bottom: 20px;
    width: 150px; /* Increase the width */
    height: auto; /* Maintain aspect ratio */
}


.form-group {
    margin-bottom: 5px;
    text-align: left;
}
.form-group label {
    display: block;
    margin-bottom: 3px;
    color: #3A5347; /* Dark green color */
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: 'Segoe UI',Arial;
    font-size: 16px;
    color: #333;
}

.oauth-buttons {
    display: flex;
    flex-direction: column;
}


.oauth {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
    text-decoration: none;
}

.oauth i {
    font-size: 20px;
    margin-right: 10px;
}

/* New styles for primary OAuth button */
.oauth.primary {
    padding: 15px 15px 15px 30px;
    font-size: 18px;
    border: 2px solid #2b579a;
}

.oauth.secondary {
    padding: 3px 8px 3px 30px;
    font-size: 14px;
    border: 1px solid transparent;
    margin-bottom: 5px;
}
.oauth.google {
    background-color: #db4437;
}

.oauth.google:hover {
    background-color: #c23321;
}

.oauth.microsoft {
    background-color: #2b579a;
}

.oauth.microsoft:hover {
    background-color: #1a468c;
}

.oauth.linkedin {
    background-color: #0077b5;
}

.oauth.linkedin:hover {
    background-color: #005983;
}

.cookie-notice {
    font-size: 12px;
    color: #888;
    margin-top: 20px;
}
.signup-link {
    font-size: 14px;
    color: #074223; /* Dark green color */
}

.signup-link a {
    color: #074223; /* Dark green color */
    text-decoration: underline;
}

.signup-link a:hover {
    color: #124d2d; /* Dark green color */
    text-decoration: underline;
}

/* Media query for mobile view */
@media (max-width: 768px) {
    .login-box {
        flex-direction: column; /* Stack the boxes vertically */
        width: 100%; /* Full width on mobile */
        height: auto; /* Adjust height to content */
    }

    .login-left,
    .login-right {
        padding: 20px; /* Reduce padding on mobile */
    }

    .logo {
        width: 100px; /* Adjust logo size on mobile */
    }

    .login-right h3 {
        font-size: 20px; /* Adjust heading size on mobile */
    }

    .form-group input {
        font-size: 14px; /* Adjust input font size on mobile */
    }

    .header__logout-button {
        font-size: 14px; /* Adjust button font size on mobile */
        padding: 8px 16px; /* Adjust button padding on mobile */
    }
}